<nav class="bg-light">
    <ul>
        <li [routerLink]="['/user']"><ion-icon name="home-outline"></ion-icon><a>Main</a></li>
        <li [routerLink]="['/user/sRPE']"><ion-icon name="barbell-outline"></ion-icon><a>sRPE</a></li>
        <li [routerLink]="['/user/POMS']"><ion-icon name="reader-outline"></ion-icon><a>POMS</a></li>
        <li [routerLink]="['/user/bodyMeasurements']"><ion-icon name="body-outline"></ion-icon><a>Body Measurements</a></li>
        <li [routerLink]="['/user/bodyweight']"><ion-icon name="scale-outline"></ion-icon><a>Bodyweight</a></li>
        <li [routerLink]="['/user/profile']"><ion-icon name="person-circle-outline"></ion-icon><a>Profile</a></li>
    </ul>
</nav>
