<div class="box-border">
    <form [formGroup]="form">
        <div class="modal-input-box">
            <input formControlName="newPassword" type="password" placeholder="New password">
            <div *ngIf="newPassword?.touched && newPassword?.errors?.['required']" class="form-text">New password required.</div>
        </div>
        <div class="modal-input-box">
            <input formControlName="confirmNewPassword" type="password" placeholder="Confirm new password">
            <div *ngIf="newPassword?.touched && newPassword?.errors?.['required']" class="form-text">Confirmation of new password required.</div>
        </div>
        <div class="btn-box d-flex justify-content-center g-2">
            <button [disabled]="form.invalid" class="btn bg-dark col-5 mx-2" (click)="onSubmit()">
                <ion-icon name="checkmark-outline"></ion-icon>
            </button>
            <button (click)="onCancel()" class="btn bg-dark col-5 mx-2">
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>
    </form>
</div>
