
<form>
    <div class="modal-input-box">
        <input type="text" placeholder="Training type">
        <div class="form-text">Training type required.</div>
    </div>
    <div class="modal-input-box">
        <input type="text" placeholder="sRPE">
        <div class="form-text">sRPE required.</div>
        <div class="form-text">Must be greater then 0.</div>
        <div class="form-text">Must be less or equal to 10.</div>
    </div>
    <div class="modal-input-box">
        <input type="text" placeholder="Training duration">
        <div class="form-text">Duration required</div>
        <div class="form-text">Must be greater then 0.</div>
    </div>
    <div class="btn-box d-flex justify-content-center g-2">
        <button class="btn bg-dark col-5 mx-2">
            <ion-icon name="checkmark-outline"></ion-icon>
        </button>
        <button class="btn bg-dark col-5 mx-2" [routerLink]="['/user/sRPE']" (click)="activeModal.close('Close click')">
            <ion-icon name="close-outline"></ion-icon>
        </button>
    </div>
</form>
