
<!-- <div class="row box-border width">
    <app-filter
        [rangeOptions]="rangeOptions"
        [filterByOptions]="filterByOptions"
        (filterFormSubmit)="onFilterFormSubmit($event)">
    </app-filter>
</div> -->
<div class="row  width">
    <div  class="row justify-content-center">
        <div class="col-4 m-3">
            <table class="table pb-3" >
                <thead>
                  <tr>
                    <th scope="col">
                        <div class="th-box">
                            <p>Date</p>
                            <div class="sort-btns">
                                <button (click)="sortBy('createdAt:asc')">
                                    <ion-icon name="caret-up-outline"></ion-icon>
                                </button>
                                <button (click)="sortBy('createdAt:desc')">
                                    <ion-icon name="caret-down-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="th-box">
                            <p>Bodyweight (kg)</p>
                            <div class="sort-btns">
                                <button (click)="sortBy('chest:asc')">
                                    <ion-icon name="caret-up-outline"></ion-icon>
                                </button>
                                <button (click)="sortBy('chest:desc')">
                                    <ion-icon name="caret-down-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <app-bodyweight-item
                        *ngFor="let bodyweight of bodyweightList"
                        [bodyweight]="bodyweight">
                    </app-bodyweight-item>
                </tbody>
            </table>
        </div>
        <div class="col-4 m-3 align-self-start">
            <app-bodyweight-form></app-bodyweight-form>
        </div>
    </div>
</div>