
<form [formGroup]="form" class="srpe-create-form">
    <div class="input-box">
            <input title="From (date)" id="dateFrom" formControlName="dateFrom" type="date" placeholder="From">
    </div>
    <div class="input-box">

        <input title="To (date)" id="dateTo" min=1 max="10" formControlName="dateTo" type="date" placeholder="To">
    </div>
    <div class="input-box">
        <select id="filterBy" formControlName="filterBy" class="filterby-select" placeholder="Filter by">
            <option value="">--</option>
            <option  *ngFor="let optionsObject of filterByOptions" [value]="optionsObject.value">{{ optionsObject.description }}</option>
        </select>
    </div>
    <div *ngIf="filterBy?.value" class="input-box">
        <input title="Value" id="value" formControlName="value" type="number" placeholder="value">

    </div>
    <div class="input-box">
        <select id="range" formControlName="range" class="range-select" placeholder="Range">
            <option value="">--</option>
            <option *ngFor="let optionsObject of rangeOptions" [value]="optionsObject.value">{{ optionsObject.description }}</option>
        </select>
    </div>
    <button (click)="filterSubmit()" class="btn btn-dark"><ion-icon name="funnel-outline"></ion-icon></button>
</form>
