<tr>
    <th  scope="row">{{ index + 1 }}</th>
    <td>{{ sessionRPE.createdAt | date: 'dd.MM.yyyy'}}</td>
    <td>{{ sessionRPE.trainingType }}</td>
    <td>{{ sessionRPE.sRPE }}</td>
    <td>{{ sessionRPE.duration }}</td>
    <td>{{ sessionRPE.trainingLoad }}</td>
    <td>
        <button (click)="onDelete()" class="btn btn-dark">
            <ion-icon name="trash-outline"></ion-icon>
        </button>
        <button class="btn btn-dark">
            <ion-icon name="create-outline"></ion-icon>
        </button>
    </td>
</tr>



