
:host {
    display: contents;
    vertical-align: middle;

}

ion-icon {
    color: #fff;
}
td, th {
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center ;
}

tr {
    border-bottom: none;
}

button {
    margin-right: 1rem;
}

form {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

