<!-- <tr class="text-center">
    <th scope="row">3</th>
    <td>20-2-2023</td>
    <td>Strength</td>
    <td>5</td>
    <td>60</td>
    <td>300</td>
    <td>
        <button class="btn bg-dark mx-3">
            <ion-icon name="create-outline"></ion-icon>
        </button>
        <button class="btn bg-dark">
            <ion-icon name="trash-outline"></ion-icon>
        </button>
    </td>
  </tr> -->
<!-- <tr class="text-center">
    <th scope="row">3</th>
    <td>{{ sessionRPE.createdAt | date: 'dd.MM.yyyy' }}</td>
    <td>{{ sessionRPE.trainingType }}</td>
    <td>{{ sessionRPE.sRPE }}</td>
    <td>{{ sessionRPE.duration }}</td>
    <td>{{ sessionRPE.trainingLoad }}</td>
    <td>
        <button class="btn bg-dark mx-3">
            <ion-icon name="create-outline"></ion-icon>
        </button>
        <button class="btn bg-dark">
            <ion-icon name="trash-outline"></ion-icon>
        </button>
    </td>
</tr> -->

<!-- <tr class="text-center">
    <th scope="row">3</th>
    <td>{{ sessionRPE.createdAt | date: 'dd.MM.yyyy' }}</td>
    <td>{{ sessionRPE.trainingType }}</td>
    <td>{{ sessionRPE.sRPE }}</td>
    <td>{{ sessionRPE.duration }}</td>
    <td>{{ sessionRPE.trainingLoad }}</td>
    <td>
        <button class="btn bg-dark mx-3">
            <ion-icon name="create-outline"></ion-icon>
        </button>
        <button class="btn bg-dark">
            <ion-icon name="trash-outline"></ion-icon>
        </button>
    </td>
</tr> -->


    <td>{{ sessionRPE.createdAt | date: 'dd.MM.yyyy' }}</td>
    <td>{{ sessionRPE.trainingType }}</td>
    <td>{{ sessionRPE.sRPE }}</td>
    <td>{{ sessionRPE.duration }}</td>
    <td>{{ sessionRPE.trainingLoad }}</td>
    <td>
      <button class="btn bg-dark mx-3">
        <ion-icon name="create-outline"></ion-icon>
      </button>
      <button class="btn bg-dark">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </td>
