app-sidebar {
    width: 100%;
}

.row {
    --bs-gutter-x: 0
}


/* .user-box {
    display: flex;

}

.sidebar-box {
    height: 94vh;
    width: 20%;
}

.router-outlet-box {
    width: 75%;
    height: 94vh;

} */