th {
    vertical-align: middle;
    text-align: center ;
    padding: 1rem;
    border-bottom: 1px solid #333;
}

table {
    width: 70%;
    margin: 3rem auto;
    position: relative;
}

.srpe-create-form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.srpe-create-form input {
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 6px;
}

.btn {
    padding: 0.5rem 1rem;
}