.btn {
    color: #fff;
}

table {
    width: 60%;
    margin: 3rem auto;
}

td, th {
    vertical-align: middle;
}

tr {
    border-bottom: 1px solid #333;
}

app-session-rpe-item {
    width: 100%;
}