table {
    width: 100%;
    margin: 0 auto;
    position: relative;

}

th {
    vertical-align: middle;
    text-align: center ;
    padding: 1rem;
    border-bottom: 1px solid #333;
}



.srpe-create-form, .form-text {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 0.5rem;
}

.form-text {
    position: absolute;
    margin-top: 1rem;
    margin: 0 0;
    width: 100%;
    text-align: start;
}

.srpe-create-form input {
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 6px;
}

.btn {
    padding: 0.5rem 1rem;
    align-self: flex-start;
}

.input-box, .input-box input {
    width: 100%;
    position: relative;
}

.pagination-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid grey
}

.box-border {
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    border-radius: 11px;
    width: 70%;
    margin: 1rem auto;

}

.row {
    --bs-gutter-x: 0;
}