
<div class="component-container">
    <div class="box-border">
        <div class="img-box">
            <img *ngIf="imageLoading" src="../../../assets/userAvatar.png" alt="">
            <img *ngIf="!imageLoading" [src]="imageToShow" alt="">
    
        </div>
        <div class="info-box">
            <ul>
                <li>{{user.athlete.firstName}} {{user.athlete.lastName}}</li>
                <li>{{user.athlete.email}}</li>
                <li>{{user.athlete.height}} cm</li>
                <li>{{user.athlete.weight}} kg</li>
            </ul>
        </div>
        <div class="btn-box">
            <button class="btn bg-dark">Edit</button>
            <button class="btn bg-dark">Change password</button>
        </div>
    </div>
</div>

